<html>
    <head>
        <title>Senha incorreta</title>

        <script>
            confirm("Senha incorreta");
            window.location.replace('/room/<%= roomId %>'); // voltar pra essa pagina
        </script>
    </head>
</html>